@font-face {
    font-family: "INGMe";
    src: url("../fonts/INGMe-Regular.otf") format("opentype");
    font-weight: normal
}

@font-face {
    font-family: "INGMe";
    src: url("../fonts/INGMe-Bold.otf");
    src: url("../fonts/INGMe-Bold.otf") format("opentype");
    font-weight: bold
}

@font-face {
    font-family: "INGMe";
    src: url("../fonts/INGMe-Italic.otf");
    src: url("../fonts/INGMe-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: "INGMe";
    src: url("../fonts/INGMe-BoldItalic.otf");
    src: url("../fonts/INGMe-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic
}

html {
    font-size: 15px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

body {
   max-width:850px;
   height:100%;
   border:1px dashed #FF6200;
   margin: 0;
   font-family:INGMe, Arial;
   font-weight: normal;
   color: #333333; /*ING web black*/
}

h1,
h2,
h3 {
    font-family: INGMe, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  font-size: inherit;
  display: inline;
}


button:active,
button:focus,
button:hover {
  color: #03678B;
  text-decoration: underline;
}


.infographic-container {
   display:flex;
   flex-direction:row;
   align-items: stretch;
}

.facts {
   width:50%;
   height: 100%;
}
.infograpic-text {

   margin:10% 5% 10% 5%;
}
.infographic-chapeau{
   margin: 0 0 1em 0;
   font-size: 1em;
   font-weight: lighter;
   color: #767676;
   letter-spacing: .15em;
   text-transform: uppercase
}
.infographic-title{
      font-size: 3em;
      margin: 0 0 .25em;
      line-height: 1.20833em

}
.infographic-subtitle{
   font-size: 1.13333em;
   line-height: 1.47059em;
   font-weight: normal;
}

.fact-number {
   color:#ff7700;
   font-weight:normal;
   text-align: center;
   display: none;
}
.infographic-fact {
   border:1px dashed grey;
   margin:10% 0;

}
.machine-container {
   border: 1px dashed purple;
   position: relative;
   top:0;
   left:0;
   width:50%;
}

#canvas {
   /*visibility: hidden;*/
   position:absolute;
   border:1px dashed red;
   width:100%;
   height:16%;
}

#smokeparticle {
   display:none;
}

.machine {
   position:relative;
   border:1px dashed blue;
   max-width: 254px;
   margin-right:5%;
   margin-left:auto;
}

.machine-body {
   border 1px dashed orange;
   max-width: 254px;
   width: 100%;
}

@media screen and (max-width:768px) {

   .infographic-container {
         flex-direction: column;
      }

      .facts {
         width:100%
      }

      .machine-container {
         width:100%;
      }

      .infographic-fact {
         display:none;
      }

      .machine {
         margin:0 auto;;
      }

      .infograpic-text {

         margin:0 5%;
      }

      .infographic-chapeau{
         margin:0;
         font-size: 0.9em;
      }

      .infographic-title{
         font-size: 2em;
         margin:0;
         line-height: 1em;
         margin-bottom:0.1em;
      }



      .infographic-subtitle{
         font-size: 1em;
         margin:0;
      }
}


/*------MACHINE-----*/


.part {
   width:100%;
   height:100%;
}
.machine-body-img {
   border:1px dashed yellow;
   margin:0 auto;
   display: block;
   width: 100%;
}

.valve {
   position:absolute;
   top:0;
   left:7%;
   width:14.5%;
   height: auto;
}

.top-valve {
   position:absolute;
   top:1%;
   left:39%;
   width:21%;
   height: auto;
}

.indicator {
   position:absolute;
   top:29.9%;
   width:15%;
}

.indicator1 {
   left:34.7%;
}
.indicator2 {
   left:50%;
}

.indicator1-img {
   animation-name: rotate;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function:linear;
   animation-direction: reverse;
}

.belly {
   position:absolute;
   top:45%;
   left:30%;
   width:45%;
   z-index: -1;
}

.touch {
   position:absolute;
   top:43%;
   left:30%;
   width:44.5%;
}

.big-gear {
   position:absolute;
   top:46%;
   left:47%;
   width:52%;
   height: auto;
   z-index: -2;

}

.small-gear {
   position:absolute;
   top:29%;
   left:46%;
   width:42.5%;
   height: auto;
   z-index: -2;
}

.big-gear-img {
   animation-name: rotate;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function:linear;
   animation-direction: reverse;
}
.small-gear-img {
   animation-name: rotate;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function:linear;
}

.valve img:hover {
   animation-name: rotate;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function:linear;

}

.valve1 {
   top:19%;
}

.valve2 {
   top:27%;
}

.valve3 {
   top:35%;
}
.valve4 {
   top:44%;
}

.valve5 {
   top:52.7%;
}

.valve6 {
   top:60%;
}

/*keyframes*/

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
